.galleryWrap {
    width: 131%;
    /* border: 1px solid #0099cc; */
    height: 690px;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: -90px;
    margin-top: 15px!important;
}
.thumbWrap {
    width: 34%;
    float: left;
    height: 212px;
    position: relative;
    margin: 10px;
    border: 1px solid #0099cc;
    overflow: hidden;
    background-color: white;
}
.galleryWrap img {
    border: none;
    max-width: 100%;
    height: auto;
    display: block;
    background: white;
    transition: transform .2s ease-in-out;
    padding: 10px;
}

/* start override bootstrap css */
.filterButtons.selected{
	color:#286090;
	background-color:#FFFFFF;
}

.navbar{
    margin-bottom:0px;
	cursor:pointer;
}
/* end override bootstrap css */


.collectionItem{

	height:80px;
	width:80px;
}

.collectionWrap{
	display:inline-block;
	padding:5px;
}

.pictureWrap{
	display:inline-block;
	padding:5px;
}

@media screen and (min-width: 50em) {
	.galleryWrap a {
		width: calc(25% - 6px);
	}

	.galleryWrap a:nth-of-type(2n) {
		margin-right: 8px;
	}

	.galleryWrap a:nth-of-type(4n) {
		margin-right: 0;
	}
}

.galleryWrap a:hover img {
	transform: scale(1.15);
}

.galleryWrap figure {
	margin: 0;
}

.galleryWrap .p a {
	display: inline;
	font-size: 13px;
	margin: 0;
}

.galleryWrap .p {
	text-align: center;
	font-size: 13px;
	padding-top: 100px;
}

#preview {
	width: 400px;
	height: 500px;
	border: none;
}

iframe img {
	width: 100%;
}

.navbar {
    margin-bottom: 0px;
    cursor: pointer;
    position: fixed;
    z-index: 890!important;
    background: white;
}
/*	Custom Styles */
.collectionWrap{
	position: relative;
}

.collectionItem {
    height: 220px;
    width: 200px;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    background-position: -1px 1px;
    background-repeat: no-repeat;
    
    background-color: white;
}


.fleft {
    position: absolute;
    left: 0px;
}

.fright {
    position: absolute;
    right: 0px;
}

@media (min-width: 1200px){
.container {
    width: 100%;

    margin: 0px;
    padding: 0px;
}

}

@media (min-width: 992px) {
  .container {
      width: 100%;
      margin: 0px;
      padding: 0px;
  }
}

@media (min-width: 768px){
  .container {
      width: 100%;
      margin: 0px;
      padding: 0px;
  }


}










* {
	font-family: 'Short Stack', sans-serif;
}

html, body{
  height:100%;
  overflow: hidden;

}

nav {
    position: relative;
    border-bottom: 1px solid #0099cc!important;
    width: 100%;
    z-index: 40000;
}
.sidepanel {
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 52px;
    bottom: 0px;
    border-right: 1px solid #0099cc;
    z-index: 900;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0099cc;
}

.thumbnail {
     background-color: rgba(255,255,255,0)!important;
     border: none;
     border-radius: none;
}


.main-container {
    height: calc(100% - 30px);
    overflow-x: scroll;
    top: 52px;
    bottom: 0px;
    z-index: 10;
    background-color: #def7ff;
    /* padding-top: 14px; */
    margin-bottom: -25px;
    border-left: 2px solid #0099cc;
}

.filtersWrap {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    margin: 0px;
}

*:focus {
  outline-color: transparent!important;
  outline-style: none!important;
}

#preview {
    width: 400px;
    height: 516px;
    border: 1px solid #e5e5e5;
}
.collectionWrap i {
    position: relative;
    text-align: center;
    font-size: 10px;
    display: block;
    top: -18px;
    right: -149px;
    background-color: #0099cc;
    border-radius: 100%;
    width: 33px;
    padding: 10px;
    color: white;
    font-style: normal;
    font-weight: bold;
    opacity: 0.8;
}
.collectionWrap b {
    position: relative;
    text-align: center;
    font-size: auto;
    display: block;
    bottom: -191px;
    background-color: #33a6cc;
    color: white;
    font-weight: lighter;
    width: 112%;
    left: -5px;
    position: relative;
    padding: 2px;

    box-shadow: 0 3px 0 0 #007299;
    background: #0099cc;
    color: #ffffff;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}



.class_box_shadow {
    margin: 8px;
    position: relative;
    width: 200px;
    height: 220px;
    overflow: hidden;
}

.caption p {
    font-size: 30px;
    font-style: italic;
    padding: 0px;
    margin-bottom: -10px;
}


/*button.filterButtons.btn.btn-primary {
    width: 90%!important;
    padding-top: 45%;
    padding-bottom: 45%;
    box-shadow: 0 3px 0 0 #007299;
    color: #1d1d1d;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 100%!important;
    margin-bottom: 23px;

    background-color: white;
}*/
button.filterButtons.btn.btn-primary i {
  font-style: normal;
}
button.filterButtons.btn.btn-primary {
    width: 100%!important;
    padding-top: 4%;
    padding-bottom: 4%;
    box-shadow: 0 3px 0 0 #007299;
    background-color: white;
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    margin-top: 24px;
    height: 54px;
    /* -webkit-text-fill-color: black; */
    /* -webkit-text-stroke-width: 1px; */
    /* -webkit-text-stroke-color: white; */
    background-image: none!important;
    color: black;
    border-radius: 50px;
}



.filtersWrap {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow-y: scroll;
}

.filtersWrap {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.application-container {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.application-wrap, .container, .stage{
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
.search-bar {
    top: 11px;
    position: fixed;
    z-index: 900;
    left: 20px;
}

.navbar {
    margin-bottom: 0px;
    cursor: pointer;
    position: fixed;
    z-index: 890;
}


.right-arrow, .left-arrow {
  position: absolute;
  width: 100px;
  overflow: hidden;
  top: 36%;
}


.left-arrow {
    left: -100px;
    opacity: 0.5;
}
.right-arrow {
    right: -100px;
    opacity: 0.5;
}

.right-arrow .bg, .left-arrow .bg {
  background-color: #2cafda;
  height: 200px;
  width: 200px;
  border-radius: 110%;
} 

.bg i {
    color: #9fe7ff;
    font-size: 42px;
}


.right-arrow .bg i, .left-arrow .bg i{
  color: white;
}

.right-arrow .bg {
    background-color: #2cafda;
    height: 200px;
    width: 200px;
    border-radius: 110%;
    margin-left: -101px;
}

.right-arrow .bg i {
    right: 30px;
    position: absolute;
    top: 79px;
}

.left-arrow .bg i {
    left: 30px;
    position: absolute;
    top: 79px;
}

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  RAISED BUTTONS
************************/
.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

@media (max-width: 400px){
  .sidepanel.col-sx-2 {
      width: 100px!important
  }
}

button.filterButtons.btn.btn-primary{
  font-size:10px;
}
@media (max-width: 1500px){
  

}

}

::-webkit-scrollbar {
    display: none;
}
*::-webkit-scrollbar {
    display: none;
}
.more {
    width: 379px;
    position: relative;
    right: -70px;
    top: -65px;
    background-color: #0099cc;
    height: 705px;
    margin-bottom: -171px;
    border-left: 3px solid #0b7598;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 7px;
}

#preview {
    width: 400px;
    height: 516px;
    border: 1px solid #e5e5e5;
    background-color: white;
    padding: 50px;
    -webkit-box-shadow: -4px 10px 23px -10px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 10px 23px -10px rgba(0,0,0,0.75);
box-shadow: -4px 10px 23px -10px rgba(0,0,0,0.75);
}

.modal-content {
    background-color: #def7ff;
}


.preview {
    margin-left: 46px;
    margin-right: -45px;
}
.thumbWrap{
    -webkit-box-shadow: -4px 10px 23px -10px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 10px 23px -10px rgba(0,0,0,0.75);
box-shadow: -4px 10px 23px -10px rgba(0,0,0,0.75);
}
.modal-footer {
    border-top: none;
}
.modal-header {
    border-bottom:none;
}
.modalButtonsWrap {
    margin-top: 10px;
    margin-left: 60px;
}

button.filterButtons.btn.btn-primary {
    opacity: 0.90;
    background-size: cover;

}

button.filterButtons.btn.btn-primary:hover {
    opacity: 0.99;
    background-size: cover;
}
.modal-backdrop.in {
    filter: alpha(opacity=90);
    background-size: 110%;
    opacity: .9;
}
.modal-backdrop {
    background-color: #feffff;
}

