.sidepanel{
	border:1px solid black;
	padding:10px;
}

.search-bar{

}

.picture-container{
}

.picture-wrap{
	display:inline-block;
	width:200px;
	height:200px;
}

.picture-wrap img{
	width:100%;
	height:auto;
}

.resultListItem{
	display:inline-block;
}

.filtersWrap{
	margin-top:5px;
}

.filterButtons{
	margin:5px 0 5px 0;
	width:100%;
}

/* override bootstrap css */
.filterButtons.active{
	color:#286090;
	background-color:#FFFFFF;
}

.collectionItem{
	border:1px solid #980000;
	height:80px;
	width:80px;
}

.collectionWrap{
	display:inline-block;
	padding:5px;
}

.navbar{
    margin-bottom:0px;
	cursor:pointer;
}
