.sidepanel{
	border:1px solid black;
	padding:10px;
}

.search-bar{

}

.picture-container{
}

.picture-wrap{
	display:inline-block;
	width:200px;
	height:200px;
}

.picture-wrap img{
	width:100%;
	height:auto;
}

.resultListItem{
	display:inline-block;
}

.filtersWrap{
	margin-top:5px;
}

.filterButtons{
	margin:5px 0 5px 0;
	width:100%;
}

/* override bootstrap css */
.filterButtons.active{
	color:#286090;
	background-color:#FFFFFF;
}

.collectionItem{
	border:1px solid #980000;
	height:80px;
	width:80px;
}

.collectionWrap{
	display:inline-block;
	padding:5px;
}

.navbar{
    margin-bottom:0px;
	cursor:pointer;
}

/* Result Modal */

.galleryWrap {
	min-height: 300px;
	width: 90%;
	overflow: scroll;
	height: 478px;
	padding: 10px;
	float: right;
	border-bottom: 1px solid #e5e5e5;
}

.modalLrgImage{
	border: none;
    max-width: 100%;
    height: auto;
    display: block;
}

.modal-header, .modal-footer {
	border: none!important;
}

/* Result Modal Gallery */

.galleryWrap body {
	width: 80%;
	margin: 30px auto;
	font-family: sans-serif;
	padding: 10px;
}

.galleryWrap h3 {
	text-align: center;
	font-size: 1.65em;
	margin: 0 0 30px;
}

.galleryWrap div {
	font-size: 16px;
	overflow: hidden;
	display: inline-block;
	margin-bottom: 8px;
	width: 20%;
	margin: 8px;
	padding: 1%;
	float: left;
	height: 100px;
	width: 100px;
	border: 1px solid #e5e5e5;
	border-radius: 11px;
}
.galleryWrap div img {
	text-align: center;
	width: 100%;
	height: 100%;
}
.galleryWrap a:nth-of-type(2n) {
	margin-right: 0;
}

@media screen and (min-width: 50em) {
	.galleryWrap a {
		width: calc(25% - 6px);
	}

	.galleryWrap a:nth-of-type(2n) {
		margin-right: 8px;
	}

	.galleryWrap a:nth-of-type(4n) {
		margin-right: 0;
	}
}

.galleryWrap a:hover img {
	transform: scale(1.15);
}

.galleryWrap figure {
	margin: 0;
}

.galleryWrap img {
	border: none;
	max-width: 100%;
	height: auto;
	display: block;
	background: #ccc;
	transition: transform .2s ease-in-out;
}

.galleryWrap .p a {
	display: inline;
	font-size: 13px;
	margin: 0;
}

.galleryWrap .p {
	text-align: center;
	font-size: 13px;
	padding-top: 100px;
}