/*

.password-reset-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.spinnerWrap{
	width:100%;
	text-align:center;
	margin-top:45%;
}
.categoryItem .thumbnail {
    padding-left: 24px;
    padding-top: 14px;
}

.picture-wrap{
	display:inline-block;
	width:200px;
	height:200px;
}

.picture-wrap img{
	width:100%;
	height:auto;
}

.resultListItem{
	display:inline-block;
}

.filtersWrap{
	margin-top:5px;
}

.filterButtons{
	margin:5px 0 5px 0;
	width:100%;
}
*/

.galleryWrap {
    width: 100%;
    /* border: 1px solid grey; */
    height: 440px;
    overflow: hidden;
    overflow-y: scroll;
}

.thumbWrap {
    width: 33%;
    float: left;
    height: 180px;
    position: relative;
    margin: 10px;
    border: 1px solid grey;
    overflow: hidden;
}

.galleryWrap img {
    border: none;
    max-width: 100%;
    height: auto;
    display: block;
    background: white;
    transition: transform .2s ease-in-out;
    padding: 10px;
}

/* start override bootstrap css */
.filterButtons.selected{
	color:#286090;
	background-color:#FFFFFF;
}

.navbar{
    margin-bottom:0px;
	cursor:pointer;
}
/* end override bootstrap css */


.collectionItem{

	height:80px;
	width:80px;
}

.collectionWrap{
	display:inline-block;
	padding:5px;
}

.pictureWrap{
	display:inline-block;
	padding:5px;
}

@media screen and (min-width: 50em) {
	.galleryWrap a {
		width: calc(25% - 6px);
	}

	.galleryWrap a:nth-of-type(2n) {
		margin-right: 8px;
	}

	.galleryWrap a:nth-of-type(4n) {
		margin-right: 0;
	}
}

.galleryWrap a:hover img {
	transform: scale(1.15);
}

.galleryWrap figure {
	margin: 0;
}

.galleryWrap .p a {
	display: inline;
	font-size: 13px;
	margin: 0;
}

.galleryWrap .p {
	text-align: center;
	font-size: 13px;
	padding-top: 100px;
}

#preview {
	width: 400px;
	height: 500px;
	border: none;
}

iframe img {
	width: 100%;
}


/*	Custom Styles */
.collectionWrap{
	position: relative;
}

.collectionItem {
    height: 220px;
    width: 200px;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    background-position: -1px 1px;
    background-repeat: no-repeat;
    /* border: 2px solid white; */
}


.fleft {
    position: absolute;
    left: 0px;
}

.fright {
    position: absolute;
    right: 0px;
}

@media (min-width: 1200px){
.container {
    width: 100%;

    margin: 0px;
    padding: 0px;
}

}

@media (min-width: 992px) {
  .container {
      width: 100%;
      margin: 0px;
      padding: 0px;
  }
}

@media (min-width: 768px){
  .container {
      width: 100%;
      margin: 0px;
      padding: 0px;
  }
}


* {
	font-family: 'Short Stack', sans-serif;
}

html, body{
  height:100%;
}

nav {
    position: relative;
    border-bottom: 1px solid grey!important;
    width: 100%;
}
.sidepanel {
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 52px;
    bottom: 0px;
    border-right: 1px solid grey;
    z-index: 10;
}
.main-container {
    height: 100%;
    overflow-x: scroll;
    top: 52px;
    bottom: 0px;
    z-index: 10;
}

.filtersWrap {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    margin: 0px;
}



button.filterButtons.btn.btn-primary, .filterButtons.btn.btn-primary.selected {
    float: left;
    margin: 0px;
    width: 100%!important;
    border-radius: 0px!important;
    background-color: white;
    border: 1px solid grey;
    color: grey;
    border-top: none;
}

*:focus {
  outline-color: transparent!important;
  outline-style: none!important;
}

#preview {
    width: 400px;
    height: 516px;
    border: 1px solid #e5e5e5;
}
.collectionWrap i {
    position: relative;
    text-align: center;
    font-size: 10px;
    display: block;
    top: -18px;
    right: -149px;
    background-color: purple;
    border-radius: 100%;
    width: 33px;
    padding: 10px;
    color: white;
    font-style: normal;
    font-weight: bold;
    opacity: 0.8;
}
.collectionWrap b {
    position: relative;
    text-align: center;
    font-size: auto;
    display: block;
    bottom: -191px;
    background-color: rgba(18, 2, 254, 0.98);
    color: white;
    font-weight: lighter;
    width: 112%;
    left: -5px;
    position: relative;
    padding: 2px;
}

.class_box_shadow {
    margin: 8px;
    position: relative;
    width: 200px;
    height: 220px;
    overflow: hidden;
}

.caption p {
    font-size: 30px;
    font-style: italic;
    padding: 0px;
    margin-bottom: -10px;
}


button.filterButtons.btn.btn-primary {
    width: 50%!important;
    height: 0;
    display: block;
    float: left;
    margin: 0px;
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    padding-top: 40%;
    padding-bottom: 10%;
    border-left: 1px solid #d1d1fe;
    border-bottom: 1px solid #c9c9ff;
}


button.filterButtons.btn.btn-primary.selected {
    width: 100%
    padding-top: 90%;
    padding-bottom: 45%;
    margin-top: 0px;
    border: 1px solid grey;
-webkit-box-shadow: inset 2px 0px 23px 3px rgba(50,0,250,0.22);
-moz-box-shadow: inset 2px 0px 23px 3px rgba(50,0,250,0.22);
box-shadow: inset 2px 0px 23px 3px rgba(50,0,250,0.22);
}
.filtersWrap {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow-y: scroll;
}

.filtersWrap {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.application-container {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.application-wrap, .container, .stage{
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
.search-bar {
    top: 11px;
    position: fixed;
    z-index: 1000;
    left: 20px;
}

.navbar {
    margin-bottom: 0px;
    cursor: pointer;
    position: fixed;
    z-index: 10;
}


.right-arrow, .left-arrow {
  position: absolute;
  width: 100px;
  overflow: hidden;
  top: 36%;
}


.left-arrow {
    left: -100px;
    opacity: 0.5;
}
.right-arrow {
    right: -100px;
    opacity: 0.5;
}

.right-arrow .bg, .left-arrow .bg {
  background-color: black;
  height: 200px;
  width: 200px;
  border-radius: 110%;
} 


.right-arrow .bg i, .left-arrow .bg i{
  color: white;
}

.right-arrow .bg {
    background-color: black;
    height: 200px;
    width: 200px;
    border-radius: 110%;
    margin-left: -101px;
}

.right-arrow .bg i {
    right: 30px;
    position: absolute;
    top: 89px;
}

.left-arrow .bg i {
    left: 30px;
    position: absolute;
    top: 89px;
}

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  RAISED BUTTONS
************************/
.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

@media (max-width: 400px){
  .sidepanel.col-sx-2 {
      width: 100px!important
  }
}

.modal-wrapper {
    overflow-x: hidden!important;
    -webkit-transition-duration: 500ms!important;
    transition-duration: 500ms!important;
}

.modal-transition-enter .left {
    transform: translate(-100%)!important;
    -webkit-transform: translate(-100%)!important;
}

.modal-transition-enter .right {
    transform: translate(100%)!important;
    -webkit-transform: translate(100%)!important;
}

.modal-transition-enter.modal-transition-enter-active {
    
}

.modal-transition-leave .left {
    transform: translate(100%)!important;
    -webkit-transform: translate(100%)!important;
}

.modal-transition-leave .right {
    transform: translate(-100%)!important;
    -webkit-transform: translate(-100%)!important;
}

.modal-transition-leave.modal-transition-leave-active {

}